@font-face {
  font-family: bloodstain;
  src: url("./fonts/Bloodstain.woff2");
}

body {
  background-color: #222222;
  color: white;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 0;

  padding: 40px;
  font-family: bloodstain;
  font-size: 30pt;
  color: rgb(175, 8, 8);
  text-shadow: 3px 3px 10px #ffffff33;
}

.splash-button {
  background-color: #222222;
  font-family: bloodstain;

  letter-spacing: 5px;
  border: none;
  font-size: 20pt;
  color: whitesmoke;
  display: block;
  margin: 30px auto;
  transition: 0.5s;
}

.splash-button:hover {
  transition: 0.5s;
  /* letter-spacing: 10px; */
  text-shadow: 0 10px 10px rgb(243, 215, 215);
}

@keyframes noose-swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.swinging-noose {
  display: block;
  margin: 0 auto;
  height: 50vh;
  animation: noose-swing 3s ease-in-out infinite;
  transform-origin: top;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: bloodstain;
  font-size: 20pt;
  padding: 10px;
  margin: 0;
}

.header span {
  font-size: 15pt;
}

canvas {
  width: 50vw;
  height: 50vh;
  display: block;
  margin: 0 auto;
  border: 1px solid white;
}

.letter-display {
  letter-spacing: 5px;
  font-size: 20pt;
  text-align: center;
  margin: 20px auto;
}

.keyboard {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  width: 80vw;
  flex-wrap: wrap;
}

.key {
  font-size: 20pt;
  letter-spacing: 5px;
  position: relative;
}

.strikeout {
  position: absolute;
  top: 0;
}

.footer {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  border-top: solid 1px white;
  width: 100vw;
}
